fastapi==0.109.2
uvicorn==0.27.0
pydantic==2.6.4 ; python_version < "3.12"
pydantic==2.6.4 ; python_version >= "3.12" and platform_machine == "x86_64"
httpx==0.27.0
tenacity==8.2.3
python-dotenv==1.0.1
redis==5.0.1
sqlalchemy==2.0.25 ; python_version < "3.12"
sqlalchemy==2.0.25 ; python_version >= "3.12" and platform_machine == "x86_64"
python-multipart==0.0.6